services:
  mariadb:
    image: mariadb:12.2-rc
    container_name: mariadb
    restart: always
    env_file:
      - ./db.env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: "yes"
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    restart: always
    env_file:
      - ./db.env
    depends_on:
      mariadb:
        condition:
          service_healthy
    networks:
      - app-network

  admin-frontend:
    build:
      context: ./admin-frontend
      dockerfile: Dockerfile
      args:
        REACT_APP_API_URL: "/api"
    container_name: admin-frontend
    restart: always
    environment:
      REACT_APP_API_URL: "/api"
    depends_on:
      - backend
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    depends_on:
      - backend
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - admin-frontend
      - frontend
    networks:
      - app-network


volumes:
  mariadb_data:

networks:
  app-network:
    driver: bridge
