services:
  mariadb:
    image: mariadb:12.1.2
    restart: unless-stopped
    env_file:
      - ./db.env
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: "yes"

  backend:
    build:
      context: ./backend
    restart: unless-stopped
    env_file:
      - ./db.env
    depends_on:
      mariadb:
        condition:
          service_healthy

  admin-frontend:
    build:
      context: ./admin-frontend
      args:
        REACT_APP_API_URL: "/api"
    restart: unless-stopped
    environment:
      REACT_APP_API_URL: "/api"
    depends_on:
      - backend

  frontend:
    build:
      context: ./frontend
    environment:
      REDIS_URL: "redis://redis:6379"
    restart: unless-stopped
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - admin-frontend
      - frontend

  redis:
    image: redis:8.4.0
    restart: unless-stopped
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data

volumes:
  mariadb_data:
  redis_data: