# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Git
.git
.gitignore

# Docker
Dockerfile

# Cache
*.log
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Project
dist/
build/
